<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box box-content">
        <div class="text-left">
          <h2><%= @report.name %></h2>
        </div>
        <div class="text-right">
          <%= link_to 'PDF', :action => "show", :id => @report, :format => :pdf, :class => 'text-right' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="container" style="min-width: 310px; height: 250px; max-width: 600px; margin: 0 auto"></div>

<div class="row">
  <div class="col-sm-12">
    <div class="box bordered-box green-border">
      <div class="box-header white-background">
        <div class="title">Averages</div>
      </div>
      <div class="box box-content">
        <table class='table table-bordered'>
          <thead>
            <td>Original List Price</td>
            <td>List Price</td>
            <td>Sale Price</td>
            <td>OLP/SP</td>
            <td>Days on Market</td>
            <td>Rooms</td>
            <td>Beds</td>
            <td>Baths</td>
          </thead>
          <tbody>
            <% ['green', 'yellow', 'red'].each do |scope| %>
              <% next unless @report.lines.send("#{scope}".to_sym).present? %>
              <% obj = @report.send("#{scope}_average".to_sym) %>
              <% color = scope == 'yellow' ? 'banana' : scope %>
              <tr class="<%= color %>-background">
                <td><%= number_to_currency obj.avg_original_list_price %></td>
                <td><%= number_to_currency obj.avg_list_price %></td>
                <td><%= number_to_currency obj.avg_sale_price %></td>
                <td><%= number_to_percentage obj.avg_olp_to_sp_percentage %></td>
                <td><%= obj.avg_days_on_market %></td>
                <td><%= obj.avg_rooms %></td>
                <td><%= obj.avg_beds %></td>
                <td><%= obj.avg_baths %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="box bordered-box green-border">
      <div class="box-header white-background">
        <div class="title">Nitty Gritty</div>
      </div>
      <div class="box box-content">
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='data-table-column-filter table table-bordered'>
              <thead>
                <td>Address</td>
                <td>Original List Price</td>
                <td>List Price</td>
                <td>Sale Price</td>
                <td>OLP/SP</td>
                <td>Days on Market</td>
                <td>Rooms</td>
                <td>Beds</td>
                <td>Baths</td>
                <td>Closed</td>
              </thead>
              <tbody>
                <% @report.lines.each do |line| %>
                  <tr class="<%= line.status %>-background">
                    <td><%= line.address %></td>
                    <td><%= number_to_currency(line.original_list_price) %></td>
                    <td><%= number_to_currency(line.list_price) %></td>
                    <td><%= number_to_currency(line.sale_price) %></td>
                    <td><%= number_to_percentage(line.olp_to_sp_percentage, precision: 2) %></td>
                    <td><%= line.days_on_market %></td>
                    <td><%= line.rooms %></td>
                    <td><%= line.beds %></td>
                    <td><%= line.baths %></td>
                    <td><%= line.closed.to_s(:db) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Lights <br/>  Breakdown',
            align: 'center',
            verticalAlign: 'middle',
            y: 50
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        colors: ['#49bf67', '#fcd052', '#f34541'],
        tooltip: {
            enabled: false,
        },
        series: [{
            type: 'pie',
            name: 'Lights Breakdown',
            innerSize: '50%',
            data: [
                ['',  <%= @report.percent_green %>],
                ['', <%= @report.percent_yellow %>],
                ['',    <%= @report.percent_red %>],
            ]
        }]
    });
});
</script>
