<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box box-content">
        <div class="text-left">
          <h2><%= @report.name %></h2>
        </div>
        <div class="text-right">
          <%= link_to 'Excel File', :action => "show", :id => @report, :format => :xls, :class => 'text-right' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="container" style="min-width: 310px; height: 250px; max-width: 600px; margin: 0 auto"></div>

<div class="row">
  <div class="col-sm-12">
    <div class="box bordered-box green-border">
      <div class="box-header white-background">
        <div class="title">Market Breakdown</div>
      </div>
      <div class="box box-content">
        <table class='table table-bordered'>
          <thead>
            <td># of homes</td>
            <td>Original List Price</td>
            <td>List Price</td>
            <td>Sale Price</td>
            <td>OLP/SP</td>
            <td>Days on Market</td>
            <td>Rooms</td>
            <td>Beds</td>
            <td>Baths</td>
            <td>Marketshare</td>
          </thead>
          <tbody>
            <% ['green', 'yellow', 'red'].each do |scope| %>
              <% next unless @report.lines.send("#{scope}".to_sym).present? %>
              <% obj = @report.send("#{scope}_average".to_sym) %>
              <% color = scope == 'yellow' ? 'banana' : scope %>
              <tr class="<%= color %>-background">
                <td><%= obj.count %></td>
                <td><%= number_to_currency obj.avg_original_list_price, precision: 0 %></td>
                <td><%= number_to_currency obj.avg_list_price, precision: 0 %></td>
                <td><%= number_to_currency obj.avg_sale_price, precision: 0 %></td>
                <td><%= number_to_percentage obj.avg_olp_to_sp_percentage, precision: 0 %></td>
                <td><%= obj.avg_days_on_market %></td>
                <td><%= obj.avg_rooms %></td>
                <td><%= obj.avg_beds %></td>
                <td><%= obj.avg_baths %></td>
                <td><%= number_to_percentage (@report.send("percent_#{scope}".to_sym) * 100), precision: 0 %></td>
              </tr>
            <% end %>
            <tr>
              <td><%= @report.lines.count %></td>
              <td><%= number_to_currency @report.avg_olp, precision: 0 %></td>
              <td><%= number_to_currency @report.avg_lp, precision: 0 %></td>
              <td><%= number_to_currency @report.avg_sp, precision: 0 %></td>
              <td><%= number_to_percentage @report.avg_olp_to_sp, precision: 0 %></td>
              <td><%= @report.avg_dom %></td>
              <td><%= @report.avg_rooms %></td>
              <td><%= @report.avg_beds %></td>
              <td><%= @report.avg_baths %></td>
              <td><%= number_to_percentage @report.total_percentage * 100, precision: 0 %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="box bordered-box green-border">
      <div class="box-header white-background">
        <div class="title">Nitty Gritty</div>
      </div>
      <div class="box box-content">
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <% [:green, :yellow, :red].each do |scope| %>
              <h4><div class="title"><%= scope.to_s.upcase %></div></h4>
              <table class='table table-bordered table-hover'>
                <thead>
                  <td>Address</td>
                  <td>Original List Price</td>
                  <td>List Price</td>
                  <td>Sale Price</td>
                  <td>OLP/SP</td>
                  <td>Days on Market</td>
                  <td>Rooms</td>
                  <td>Beds</td>
                  <td>Baths</td>
                  <td>Closed</td>
                </thead>
                <tbody>
                  <% @report.lines.send(scope).sort_by(&:olp_to_sp_percentage).reverse.each do |line| %>
                    <tr id="<%= line.id %>" class="<%= line.status %>-background">
                      <td><%= line.address %></td>
                      <td><%= number_to_currency line.original_list_price, precision: 0 %></td>
                      <td><%= number_to_currency line.list_price, precision: 0 %></td>
                      <td><%= number_to_currency((best_in_place line, :sale_price, :as => :input)) %></td>
                      <td><%= number_to_percentage(line.olp_to_sp_percentage, precision: 0) %></td>
                      <td><%= line.days_on_market %></td>
                      <td><%= line.rooms %></td>
                      <td><%= line.beds %></td>
                      <td><%= line.baths %></td>
                      <td><%= line.closed.to_s(:db) %></td>
                    </tr>
                  <% end %>
                  <% obj = @report.send("#{scope.to_s}_average".to_sym) %>
                  <tr>
                    <td><h5><%= obj.count %> Houses in this range</h5></td>
                    <td><h5><%= number_to_currency obj.avg_original_list_price, precision: 0 %></h5></td>
                    <td><h5><%= number_to_currency obj.avg_list_price, precision: 0 %></h5></td>
                    <td><h5><%= number_to_currency obj.avg_sale_price, precision: 0 %></h5></td>
                    <td><h5><%= number_to_percentage obj.avg_olp_to_sp_percentage, precision: 0 %></h5></td>
                    <td><h5><%= obj.avg_days_on_market %></h5></td>
                    <td><h5><%= obj.avg_rooms %></h5></td>
                    <td><h5><%= obj.avg_beds %></h5></td>
                    <td><h5><%= obj.avg_baths %></h5></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              </br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: "<%= @report.name %>",
            align: 'center',
            verticalAlign: 'middle',
            y: 75
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        colors: ['#afe3bc', '#fdda79', '#cc6a68'],
        tooltip: {
            enabled: false,
        },
        series: [{
            type: 'pie',
            name: "<%= @report.name %>",
            innerSize: '50%',
            data: [
                ['',  <%= @report.percent_green %>],
                ['', <%= @report.percent_yellow %>],
                ['',    <%= @report.percent_red %>],
            ]
        }]
    });
});
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>
