<!DOCTYPE html>
<html>
<head>
  <title>LightsReport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'highcharts', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='fixed-header contrast-green'>
  <header>
    <div class="navbar navbar-fixed-top">
      <h4><%= link_to 'LIGHTS REPORT', '/' %></h4>
    </div>
  </header>
  <%= yield %>

</body>
</html>
